<div class="change_log-container my-2 w-75 m-auto">
  {{ range .Versions }}
  <div
    style="background-color: #f8f8f8f8"
    class="version-card rounded-4 p-3 mb-3 shadow"
  >
    <h3 class="font-bold text-lg fs-5 mb-1">{{ .Title }}</h3>
    <p style="font-size: 12px">
      {{ template "icon_selector" .IssueType }}
      <span style="font-size: 12px">{{ .IssueType }} | {{ .AppLayer}}</span>
    </p>
    <p class="description text-truncate mb-3">{{ .Description }}</p>
    <footer class="d-flex justify-content-between">
      <div>
        <strong class="text-uppercase">{{ .TargetBranch }}</strong> |
        <span>{{ .MergedAt }}</span>
      </div>
      <div>
        <span class="font-monospace m-0 ml-auto" style="text-align: right">
          {{ .Version }}
        </span>
      </div>
    </footer>
  </div>
  {{ end }}
</div>

<div>
  {{ if gt .PrevPage 0 }}
  <button
    hx-get="/paginate?page={{ .PrevPage }}&projectId=sinhantb"
    hx-target="#cards-container"
  >
    Previous
  </button>
  {{ end }} {{ if lt .NextPage 4 }}
  <button
    hx-get="/paginate?page={{ .NextPage }}&projectId=sinhantb"
    hx-target="#cards-container"
  >
    Next
  </button>
  {{ end }}
</div>
